<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      html layout:decorate="~{layout}"
      >
    <head><meta charset="UTF-8"></head>
    <body>

        <span  layout:fragment="titulo">
            Locações
        </span>

        <section class="layout-content" layout:fragment="corpo">

            <div class="col-md-12">
                <div class="card card-user">
                    <div class="card-header navbar">
                        <h5 class="card-title"><i class="oi oi-caret-right"></i> Cadastro</h5>

                        <a class="btn btn-primary btn-md" id="btnListar" href="#" role="button">
                            <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
                            <span>Nova Locação</span>
                        </a>
                    </div>
                    <hr />
                    <div id="cadastro">
                        <form method="POST" id="form1" 
                              th:action="@{/locacao/salvar}"
                              th:object="${locacao}">                        
                            <div class="card-body">

                                <div class="row">


                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <label>*usuário</label>
                                            <select class="form-control" id="cpLab" required="required"
                                                    th:field="*{usuario}" 
                                                    th:classappend="${#fields.hasErrors('usuario')} ? 'is-invalid'" >
                                                <option value="">Selecione...</option>
                                                <option th:each="req : ${usuarios}" th:value="${req.id}" 
                                                        th:text="${req.nome}"></option>
                                            </select>

                                            <div class="invalid-feedback">
                                                <span th:errors="*{usuario}"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">


                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <label>*filmes</label>

                                            <ul>
                                                <li th:each="item : ${filmes}">
                                                    <input type="checkbox" th:field="*{filmes}" th:value="${item.id}" />
                                                    <label th:for="${#ids.prev('filmes')}" th:text="${item.nome+' - R$ '+item.precoLocacao+' ('+item.estoque+')'}"></label>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="update ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-round"
                                                >
                                            Alugar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <hr />

                    <div class="container" id="listagem">

                        <div class="table-responsive" style="overflow: hidden">
                            <table class="table table-striped table-hover table-sm">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Usuário</th>
                                        <th>Data Entrega</th>
                                        <th>filmes</th>
                                        <th>Preço</th>
                                        <th>Entregue</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="m : ${locacoes}">
                                        <td th:text="${m.id }">3</td>
                                        <td th:text="${m.usuario.nome}">descrição</td>
                                        <td th:text="${#temporals.format(m.dataRetorno, 'dd/MM/yyyy')}">descrição</td>
                                        <td th:text="${m.filmes.size()}">descrição</td>
                                        <td th:text="${m.valor}">0</td>
                                        <td th:text="${m.devolvido ? 'Sim':'Não'}">0</td>
                                        <td colspan="2">
                                            
                                            <button th:id="${ 'btn_locacao/devolver/' + m.id}" type="button" class="btn btn-danger btn-sm" 
                                                    th:data-id="${m.usuario.nome}"                                                   
                                                    data-toggle="modal" data-target="#myModal">
                                                <span class="oi oi-circle-x" title="Devolver Locação" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!--CONFIRM MODAL-->
                            <div class="modal fade" tabindex="-1" role="dialog" id="myModal" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                            <h4 class="modal-title">Atenção</h4>
                                        </div>
                                        <div class="modal-body" id="dbTxtMsg">
                                            <p>Clique em Ok para proceder com a exclusão.&hellip;</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button id="ok_confirm" type="button" class="btn btn-primary">Ok</button>
                                        </div>
                                    </div>    <!-- /.modal-content -->
                                </div>  <!-- /.modal-dialog -->
                            </div> <!-- /.modal -->


                        </div>
                    </div>
                </div>
            </div>
            <script th:if="${error == null}">
                $("#cadastro").hide();
            </script>
            <script>

                var url = '';
                $('button[id*="btn_"]').click(function () {
                    var myName = $(this).data('id');
                    //$(".modal-body #bookId").val( myBookId );
                    $('#dbTxtMsg').html("Clique em Ok para " + myName + " devolver a locação.&hellip;");
                    url = "/" + $(this).attr('id').split("_")[1];
                });
                $('#ok_confirm').click(function () {
                    document.location.href = url;
                });

                $("#btnListar").on("click", function () {
                    $("#cadastro").slideToggle("slow");
                    $("#cpDescricao").focus();
                });


            </script>
        </section>
    </body>

</html>	