<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/laudo.png}" />
        <link rel="icon" th:href="@{/img/laudo.png}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>
            Empresta Fácil
        </title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />-->

        <!-- Bootstrap core CSS -->
<!--         <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
        <link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/5.12.0/css/all.css}" rel="stylesheet" />
	    <!-- Include Data Tables-->
	    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
	    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.20/features/searchHighlight/dataTables.searchHighlight.css" />
	    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" />


        <!--             CSS Files -->
        <link href="/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="/assets/demo/demo.css" rel="stylesheet" />
        <link th:href="@{/css/stacktable.css}" rel="stylesheet" />

        <!--   Core JS Files   -->
<!--         <script src="/assets/js/core/jquery.min.js"></script> -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!--         <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script> -->
        <!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
        <script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
        
        <!--<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
        <script src="/assets/js/core/popper.min.js"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!-- Include jquery mark ( for highlighting text )-->
	    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	    <script src="https://cdn.datatables.net/plug-ins/1.10.20/features/searchHighlight/dataTables.searchHighlight.min.js"></script>
	    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

        <!-- Chart JS -->
        <script src="/assets/js/plugins/chartjs.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="/assets/js/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
        <script src="/assets/demo/demo.js"></script>
        <script th:src="@{/js/homologacao.js}"></script>
        <script th:src="@{/js/stacktable.js}"></script>
        <script th:src="@{/js/jquery.highlight.js}"></script>
        
        
    </head>

    <body class="">
        <div class="wrapper ">
            <div class="sidebar" data-color="white" data-active-color="danger">
                <div class="logo">
                    <a href="#" class="simple-text logo-mini">
                        <div class="logo-image-small">
                            <!--<img src="/assets/img/logo-small.png">-->
                            <img th:href="@{/img/laudo.png}" />
                        </div>
                        <!-- <p>CT</p> -->
                    </a>
                    <a href="#" class="simple-text logo-normal">
                        Empresta Fácil
                        <!-- <div class="logo-image-big">
                          <img src="/assets/img/logo-big.png">
                        </div> -->
                    </a>
                </div>
                <div class="sidebar-wrapper" style="height: calc(100vh - 30px) !important">
                    <ul class="nav">
                        <li th:class="${#request.requestURI.startsWith('/home') or #request.requestURI == '/'} ? 'active'" >
                            <a th:href="@{/home}">
                                <i class="nc-icon nc-bank"></i>
                                <p>Principal</p>
                            </a>
                        </li>
                        <li th:class="${#request.requestURI.startsWith('/usuario/me') or  #request.requestURI == '/usuario/editar'} ? 'active'" >
                            <a th:href="@{#}">
                                <i class="nc-icon nc-badge"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                        <li th:class="${#request.requestURI.startsWith('/usuario/me') or  #request.requestURI == '/usuario/editar'} ? 'active'" >
                            <a th:href="@{/filme}">
                                <i class="nc-icon nc-badge"></i>
                                <p>Filmes</p>
                            </a>
                        </li>
                        <li  style="padding: .25rem 1.25rem;" >
                            <hr/>
                        </li>
                        
                        <li th:class="${#request.requestURI.startsWith('/usuario/me') or  #request.requestURI == '/usuario/editar'} ? 'active'" >
                            <a th:href="@{/locacao}">
                                <i class="nc-icon nc-badge"></i>
                                <p>Locações</p>
                            </a>
                        </li>
                        
                        

                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <div class="navbar-toggle">
                                <button type="button" class="navbar-toggler">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </button>
                            </div>
                            <a class="navbar-brand" href="javascript:;" layout:fragment="titulo" ></a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                        </button>

                    </div>
                </nav>
                <!-- End Navbar -->
                <div class="content">
                    <section layout:fragment="corpo">
                        <div>conteudo principal das páginas</div>
                    </section>

                </div>
                <footer class="footer footer-black  footer-white ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="credits ml-auto">
                                <span class="copyright">
                                    © <script>
                                        document.write(new Date().getFullYear())
                                    </script>, Daves Martins, 
                                </span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
                //demo.initChartsPages();
            });
        </script>
    </body>

</html>




