<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      html layout:decorate="~{layout}"
      >
    <head><meta charset="UTF-8"></head>
    <body>

        <span  layout:fragment="titulo">
            Filmes
        </span>

        <section class="layout-content" layout:fragment="corpo">

            <div class="col-md-12">
                <div class="card card-user">
                    <div class="card-header navbar">
                        <h5 class="card-title"><i class="oi oi-caret-right"></i> Cadastro</h5>

                        <a class="btn btn-primary btn-md" id="btnListar" href="#" role="button">
                            <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
                            <span>Novo Filme</span>
                        </a>
                    </div>
                    <hr />
                    <div id="cadastro">
                        <form method="POST" id="form1" 
                              th:action="${filme.id == null} ? @{/filme/salvar} : @{/filme/editar}"
                              th:object="${filme}">                            
                            <input type="hidden" id="id" th:field="*{id}"/>  
                            <div class="card-body">
                                <div class="row">

                                    
                                    <div class="col-md-12 pr-1">
                                        <div class="form-group">
                                            <label>*nome do filme</label>
                                            <input type="text" class="form-control" id="cpDescricao" 
                                                   required="required" placeholder="nome do filme" value="" 
                                                   th:field="*{nome}"
                                                   th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />
                                            <div class="invalid-feedback">
                                                <span th:errors="*{nome}"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>*estoque</label>
                                            <input type="number" class="form-control" id="cpEstoque" 
                                                   required="required" placeholder="estoque do filme" value="" 
                                                   th:field="*{estoque}"
                                                   th:classappend="${#fields.hasErrors('estoque')} ? 'is-invalid'" />
                                            <div class="invalid-feedback">
                                                <span th:errors="*{estoque}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>*preço locação</label>
                                            <input type="text" class="form-control" id="cpPreco" 
                                                   required="required" placeholder="preço da locação" value="" 
                                                   th:field="*{precoLocacao}"
                                                   th:classappend="${#fields.hasErrors('precoLocacao')} ? 'is-invalid'" />
                                            <div class="invalid-feedback">
                                                <span th:errors="*{precoLocacao}"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="update ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-round"
                                                th:text="${filme.id == null} ? 'Criar Filme' : 'Alterar Filme'">
                                            Criar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <hr />

                    <div class="container" id="listagem">

                        <div class="table-responsive" style="overflow: hidden">
                            <table class="table table-striped table-hover table-sm">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Filme</th>
                                        <th>Estoque</th>
                                        <th>Preço</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="m : ${filmes}">
                                   		<td th:text="${m.id }">3</td>
                                        <td th:text="${m.nome}">descrição</td>
                                        <td th:text="${m.estoque}">descrição</td>
                                        <td th:text="${m.precoLocacao}">descrição</td>
                                        <td colspan="2">
                                            <a class="btn btn-info btn-sm" 
                                               th:href="@{/filme/editar/{id} (id=${m.id}) }" role="button">
                                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
                                            </a>
                                            <button th:id="${ 'btn_filme/excluir/' + m.id}" type="button" class="btn btn-danger btn-sm"
                                                    th:data-id="${m.nome}"
                                                    data-toggle="modal" data-target="#myModal">
                                                <span class="oi oi-circle-x" title="apagar filme" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!--CONFIRM MODAL-->
                            <div class="modal fade" tabindex="-1" role="dialog" id="myModal" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                            <h4 class="modal-title">Atenção</h4>
                                        </div>
                                        <div class="modal-body" id="dbTxtMsg">
                                            <p>Clique em Ok para proceder com a exclusão.&hellip;</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button id="ok_confirm" type="button" class="btn btn-primary">Ok</button>
                                        </div>
                                    </div>    <!-- /.modal-content -->
                                </div>  <!-- /.modal-dialog -->
                            </div> <!-- /.modal -->


                        </div>
                    </div>
                </div>
            </div>
            <script th:if="${error == null}">
                $("#cadastro").hide();
            </script>
            <script>

                var url = '';
                $('button[id*="btn_"]').click(function () {
                    var myName = $(this).data('id');
                    //$(".modal-body #bookId").val( myBookId );
                    $('#dbTxtMsg').html("Clique em Ok para apagar " + myName + ".&hellip;");
                    url = "/" + $(this).attr('id').split("_")[1];
                });
                $('#ok_confirm').click(function () {
                    document.location.href = url;
                });

                $("#btnListar").on("click", function () {
                    $("#cadastro").slideToggle("slow");
                    $("#cpDescricao").focus();
                });


            </script>
        </section>
    </body>

</html>	